
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.list-product{
    display: grid;
    grid-template-columns: reapeat(6,1fr);
    grid-gap: 30px;
    padding: 30px;
}

.list-product{
    box-shadow: rgba(red, green, blue, alpha);
}

.list-product .product .name-product{
    
}