@media screen and (min-width: 769px; max-width: 1034px;){
section.product-list{
    padding: 10px;
	width: 80%;
	display: grid; 
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 1fr;
	gap: 20px;}
}

@media screen and (max-width: 768px){
    .main{
        display: block;
    }
    aside{
        width: 100%;
    }
section.product-list{
    padding: 10px;
	width: 80%;
	display: grid; 
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 1fr;
	gap: 20px;
    margin: 10px auto;
}

}